################################################################################
# SERVER
################################################################################

# General
SERVER_PORT=4001

# Database
DB_USER=your-db-username # you should change this :)
DB_PASSWORD=your-db-password # you should change this :)
DB_NAME=your-db-name # you should change this :)

# LLM
ANTHROPIC_API_KEY=your-anthropic-api-key # you should change this :)
ANTHROPIC_MODEL=claude-sonnet-4-5-20250929





################################################################################
# CLIENT
################################################################################

# General
CLIENT_PORT=4000
CLIENT_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4001
