################################################################################
# SERVER
################################################################################

# General
SERVER_PORT=3001

# Database
DB_USER=your-db-username        # customize this how you like :)
DB_PASSWORD=your-db-password    # customize this how you like :)
DB_NAME=your-db-name            # customize this how you like :)

# LLM
ANTHROPIC_API_KEY=your-anthropic-api-key    # IMPORTANT: you must add your api-key here
ANTHROPIC_MODEL=claude-sonnet-4-5-20250929





################################################################################
# CLIENT
################################################################################

# General
CLIENT_PORT=3000
CLIENT_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001
